/* 
font-face allows you to use a font by specifying a path
to a copy of the font
*/

@font-face {
    font-family: 'DellaRespira';
    src: url('assets/fonts/Della_Respira/DellaRespira-Regular.ttf');
}
@font-face {
    font-family: 'KalniaGlaze';
    src: url('assets/fonts/Kalnia_Glaze/KalniaGlaze-VariableFont_wdth\,wght.ttf');
}

html {
    font-family: 'Dosis';
}

body {
    background-image: url('https://images.unsplash.com/photo-1482385916434-814664df9c5b?q=80&w=2786&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
}

#button_add_goal {
    border-radius: 1em;
    padding: 0.25em 3em;
    font-size: 1em;
    background: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

#button_add_goal:hover {
    background-color: #c2c1c1;
}

#goal_carousel_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background: #f4f4f4;
    padding: 1em 2em;
    border-radius: 1em;
    width: 30em;
}

.goal_card {
    margin: 0.4em;
    display:flex;
    border-radius: 1em;
    background: #ffffff;
    padding: 1em 1em;
    clear: both;
    gap: 2em;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    text-overflow: hidden;
}

#goal_notes {
    float: left;
}

#calendar {
    float: left;
}

.drag_indicator {
    float:left;
    padding: 1em 1em;
}

.drag_indicator:hover {
    cursor: move;
}