/* 
font-face allows you to use a font by specifying a path
to a copy of the font
*/

@font-face {
    font-family: 'DellaRespira';
    src: url('assets/fonts/Della_Respira/DellaRespira-Regular.ttf');
}
@font-face {
    font-family: 'KalniaGlaze';
    src: url('assets/fonts/Kalnia_Glaze/KalniaGlaze-VariableFont_wdth\,wght.ttf');
}

html {
    font-family: 'Dosis';
}

h1 {
    font-size: 7em;
    text-align: center;
    display: block;
}

button {
    border-radius: 5em;
    box-shadow: 0 0 0 4em orchid;
}

button:hover {
    background-color: blue;
}

#goal_carousel_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#goal_item {
    border: solid;
}